# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.bank.domain.core.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\royber manjarrez\RiderProjects\bank.domain.core\.idea\.idea.bank.domain.core\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
